Tests: generic
Restrictions: allow-stderr isolation-container needs-root
Depends: curl,
         nginx,
         nginx-core,
         @,

Tests: flush
Restrictions: allow-stderr isolation-container needs-root
Depends: curl,
         memcached,
         nginx,
         nginx-core,
         @,
